@charset "UTF-8";

@font-face {
  font-family: 'typicons';
  src: url('typicons.eot');
  src: url('typicons.eot?#iefix') format('embedded-opentype'),
       url('typicons.woff') format('woff'),
       url('typicons.ttf') format('truetype'),
       url('typicons.svg#typicons') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: typicons;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-music:before { content: "\266b"; } /* '\266b' */
.icon-search:before { content: "\1f50d"; } /* '🔍' */
.icon-mail:before { content: "\2709"; } /* '\2709' */
.icon-heart:before { content: "\2665"; } /* '\2665' */
.icon-star:before { content: "\2605"; } /* '\2605' */
.icon-user:before { content: "\1f464"; } /* '👤' */
.icon-users:before { content: "\1f465"; } /* '👥' */
.icon-camera:before { content: "\1f4f7"; } /* '📷' */
.icon-th:before { content: "\268f"; } /* '\268f' */
.icon-th-list:before { content: "\2630"; } /* '\2630' */
.icon-ok:before { content: "\2713"; } /* '\2713' */
.icon-cancel:before { content: "\2715"; } /* '\2715' */
.icon-cancel-alt:before { content: "\e7b7"; } /* '\e7b7' */
.icon-plus:before { content: "\2b"; } /* '\2b' */
.icon-minus:before { content: "\2d"; } /* '\2d' */
.icon-eq:before { content: "\3d"; } /* '\3d' */
.icon-help:before { content: "\2753"; } /* '\2753' */
.icon-info:before { content: "\2139"; } /* '\2139' */
.icon-home:before { content: "\2302"; } /* '\2302' */
.icon-link:before { content: "\1f517"; } /* '🔗' */
.icon-lock:before { content: "\1f512"; } /* '🔒' */
.icon-lock-open:before { content: "\1f513"; } /* '🔓' */
.icon-pin:before { content: "\1f4cc"; } /* '📌' */
.icon-eye:before { content: "\e70a"; } /* '\e70a' */
.icon-tag:before { content: "\e70c"; } /* '\e70c' */
.icon-bookmark:before { content: "\1f516"; } /* '🔖' */
.icon-flag:before { content: "\2691"; } /* '\2691' */
.icon-thumbs-up:before { content: "\1f44d"; } /* '👍' */
.icon-thumbs-down:before { content: "\1f44e"; } /* '👎' */
.icon-download:before { content: "\1f4e5"; } /* '📥' */
.icon-reply:before { content: "\e712"; } /* '\e712' */
.icon-forward:before { content: "\27a6"; } /* '\27a6' */
.icon-export:before { content: "\e715"; } /* '\e715' */
.icon-pencil:before { content: "\270e"; } /* '\270e' */
.icon-edit:before { content: "\270d"; } /* '\270d' */
.icon-comment:before { content: "\e718"; } /* '\e718' */
.icon-chat:before { content: "\e720"; } /* '\e720' */
.icon-attention:before { content: "\26a0"; } /* '\26a0' */
.icon-address:before { content: "\e723"; } /* '\e723' */
.icon-location:before { content: "\e724"; } /* '\e724' */
.icon-direction:before { content: "\27a2"; } /* '\27a2' */
.icon-trash:before { content: "\e729"; } /* '\e729' */
.icon-rss:before { content: "\e73a"; } /* '\e73a' */
.icon-phone:before { content: "\1f4de"; } /* '📞' */
.icon-cog:before { content: "\2699"; } /* '\2699' */
.icon-wrench:before { content: "\1f527"; } /* '🔧' */
.icon-mic:before { content: "\1f3a4"; } /* '🎤' */
.icon-volume-off:before { content: "\1f507"; } /* '🔇' */
.icon-volume-up:before { content: "\1f50a"; } /* '🔊' */
.icon-clock:before { content: "\1f554"; } /* '🕔' */
.icon-block:before { content: "\1f6ab"; } /* '🚫' */
.icon-resize-full:before { content: "\e744"; } /* '\e744' */
.icon-move:before { content: "\f047"; } /* '\f047' */
.icon-zoom-in:before { content: "\e750"; } /* '\e750' */
.icon-zoom-out:before { content: "\e751"; } /* '\e751' */
.icon-popup:before { content: "\e74c"; } /* '\e74c' */
.icon-left-open:before { content: "\e75d"; } /* '\e75d' */
.icon-right-open:before { content: "\e75e"; } /* '\e75e' */
.icon-down:before { content: "\2193"; } /* '\2193' */
.icon-left:before { content: "\2190"; } /* '\2190' */
.icon-right:before { content: "\2192"; } /* '\2192' */
.icon-up:before { content: "\2191"; } /* '\2191' */
.icon-cw:before { content: "\27f3"; } /* '\27f3' */
.icon-arrows-cw:before { content: "\e760"; } /* '\e760' */
.icon-loop:before { content: "\1f501"; } /* '🔁' */
.icon-loop-alt:before { content: "\e700"; } /* '\e700' */
.icon-shuffle:before { content: "\1f500"; } /* '🔀' */
.icon-eject:before { content: "\23cf"; } /* '\23cf' */
.icon-list:before { content: "\e782"; } /* '\e782' */
.icon-bat-empty:before { content: "\e772"; } /* '\e772' */
.icon-bat-third:before { content: "\e7af"; } /* '\e7af' */
.icon-bat-half:before { content: "\e773"; } /* '\e773' */
.icon-bat-full:before { content: "\e774"; } /* '\e774' */
.icon-bat-charge:before { content: "\e775"; } /* '\e775' */
.icon-target:before { content: "\1f3af"; } /* '🎯' */
.icon-mobile:before { content: "\1f4f1"; } /* '📱' */
.icon-sun:before { content: "\263c"; } /* '\263c' */
.icon-ajust:before { content: "\e793"; } /* '\e793' */
.icon-globe:before { content: "\1d30d"; } /* '𝌍' */
.icon-globe-alt:before { content: "\1f310"; } /* '🌐' */
.icon-flash:before { content: "\26a1"; } /* '\26a1' */
.icon-chart:before { content: "\1f4c8"; } /* '📈' */
.icon-chart-bar:before { content: "\1f4ca"; } /* '📊' */
.icon-chart-pie:before { content: "\e7a2"; } /* '\e7a2' */
.icon-key:before { content: "\1f511"; } /* '🔑' */
.icon-scissors:before { content: "\2702"; } /* '\2702' */
.icon-flask:before { content: "\68"; } /* '\68' */
.icon-puzzle:before { content: "\e7b6"; } /* '\e7b6' */
.icon-infinity:before { content: "\221e"; } /* '\221e' */

